body {
    background-color: #CC3B2C;
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
}

header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

header h1{
    color: aliceblue;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius:50% ;

}

.image-container img {
    margin: 8px;
    width: 480px;
    border-radius:9000% ;


}


